.header a {
    margin-right: 3%;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

.header a:hover {
    color: crimson;
    text-decoration: 2px solid red;
}

.site-name {
    background-image: linear-gradient(to right, #ad5389, #3c1053);
    color: aliceblue;
    cursor: pointer;
}

.active {
    background-image: linear-gradient(to right, #bc4e9c, #f80759);
    background-clip: text;
    color: transparent;
}